:root {
	--clock-size: 400px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}
body,
html {
	height: 100%;
}
body {
	display: grid;
	place-content: center;
	background-color: rgb(36, 34, 34);
}
main {
	height: var(--clock-size);
	width: var(--clock-size);
	border: 10px solid whitesmoke;
	border-radius: 50%;
	padding: 20px;
}
.clock {
	position: relative;
	height: 100%;
}
.clock::after {
	content: "";
	background-color: aqua;
	position: absolute;
	top: calc(50% - 7.5px);
	left: calc(50% - 7.5px);
	height: 15px;
	width: 15px;
	border-radius: 50%;
}
.clock-hands {
	width: 50%;
	background-color: aqua;
	/* border: 1px solid whitesmoke; */
	position: absolute;
	top: 50%;
	transform-origin: right;
	/* transform: rotate(90deg); */
}

.hour-hand {
	width: 30%;
	height: 10px;
	left: 20%;
	top: calc(50% - 5px);
}

.minute-hand {
	height: 6px;
	width: 40%;
	left: 10%;
	top: calc(50% - 3px);
}

.second-hand {
	height: 3px;
	top: calc(50% - 1.5px);
}
